div {
    height: 150px;
    width: 150px;
    position: absolute; 
    top: 100px;
    left: 100px;
    transition: all 2s ease-in-out;
    background-color: aquamarine;
}

div:hover {
    /* translate is relative to current position: ; */
    /* setting scale too small (0.5) will not increase border radius properly */
    transform: scale(0.7) translate(290px, -250px) rotate(300deg);
    border-radius: 50%;
}